.page-div {
    margin-left: auto;
    margin-right: auto;
}

.title-pre {
    font-size: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.viewer-pre {
    background-color: #faf9f9;
    text-align: left;
}

.new-post-link {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.CodeMirror {
    border: 1px solid #f7f7f7;
}

.CodeMirror-scroll {
    height: auto;
    min-height: 400;
    overflow-y: hidden;
    overflow-x: auto;
}

.CodeMirror-matchingbracket {
}
